<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('share/head'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
</head>

<body>
    <div>
        <%- include('share/navbar'); %>
    </div>
    <div class="container">
        <div class="header">
            <div><label>註冊</label></div>
            <div><label>登入</label></div>
        </div>
        <div class="imgcontainer">
            <img src="/image/member/demo.png" alt="Avatar" class="avatar">
        </div>
        <div class="formResult" id="<%= url %>">
            
        </div>
    </div>
</body>

</html>