<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
<script src="/javascript/sidebar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>

<h3>會員中心</h3>

<ul class="nav flex-column" >
    <li class="nav-item">
        <a class="nav-link" id = "my-link-personal" style="padding: 5px 0px 5px 0px; font-size: 18px; color: brown;">個人資料</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id = "my-link-password" style="padding: 5px 0px 5px 0px; font-size: 18px; color: brown;">變更密碼</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="my-link-MYproduct" style="padding: 5px 0px 5px 0px; font-size: 18px; color: brown;">我的物品</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="my-link-iwant" style="padding: 5px 0px 5px 0px; font-size: 18px; color: brown;">交換清單</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id = "my-link-record" style="padding: 5px 0px 5px 0px; font-size: 18px; color: brown;">交換紀錄</a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" id="my-link-logout" style="padding: 5px 0px 5px 0px; font-size: 18px; color: brown;">登出</a>
    </li>
</ul>