nav {
    position: initial !important;
}

/* .container {
    max-width: 1200px;
} */

.myproduct:hover{
    border-bottom-color: white;
}


body {
    overflow-y: scroll;
}

html,
body {
    height: 100%;
    margin: 0;
}