/* #navbarNavDropdown li{
	width: 100%;
	text-align: center;
}

.navbar-nav .nav-item  a{
	width: 100%;
	max-width: 100px;

}
 */



/* button_effects */

/* Reset nav-link default style */
.navbar-nav .nav-item .nav-link {
	display: inline-block !important;
  transition-duration: 0.3s !important;
  transition-property: transform !important;
}

.button {
  margin: 0.4em;
  padding: 1em;
  cursor: pointer;
  /* background: #e1e1e1; */
  text-decoration: none;
  color: #666666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Rotate */
.rotate {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.rotate:hover,
.rotate:focus,
.rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* Rotate END*/



/* Hover Shadow */
@-webkit-keyframes hover {
	50% {
	  -webkit-transform: translateY(-3px);
	  transform: translateY(-3px);
	}
  
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  
  @keyframes hover {
	50% {
	  -webkit-transform: translateY(-3px);
	  transform: translateY(-3px);
	}
  
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  
  @-webkit-keyframes hover-shadow {
	0% {
	  -webkit-transform: translateY(6px);
	  transform: translateY(6px);
	  opacity: .4;
	}
  
	50% {
	  -webkit-transform: translateY(3px);
	  transform: translateY(3px);
	  opacity: 1;
	}
  
	100% {
	  -webkit-transform: translateY(6px);
	  transform: translateY(6px);
	  opacity: .4;
	}
  }
  
  @keyframes hover-shadow {
	0% {
	  -webkit-transform: translateY(6px);
	  transform: translateY(6px);
	  opacity: .4;
	}
  
	50% {
	  -webkit-transform: translateY(3px);
	  transform: translateY(3px);
	  opacity: 1;
	}
  
	100% {
	  -webkit-transform: translateY(6px);
	  transform: translateY(6px);
	  opacity: .4;
	}
  }
  
  .hover-shadow {
	display: inline-block;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hover-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
  }
  .hover-shadow:hover, .hover-shadow:focus, .hover-shadow:active {
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	-webkit-animation-name: hover;
	animation-name: hover;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
  }
  .hover-shadow:hover:before, .hover-shadow:focus:before, .hover-shadow:active:before {
	opacity: .4;
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
	-webkit-animation-name: hover-shadow;
	animation-name: hover-shadow;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
  }
  /* Hover Shadow  END*/


/* Shrink */
.shrink {
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .shrink:hover, .shrink:focus, .shrink:active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
  }
/* Shrink END*/

 


  /* button_effects END*/