/* .footer{
    background-color: red;
    position: relative;
    width: 100%;
    bottom: 0;
} */
section,main{
    font-size: larger;
    font-weight: 600;
}
.input-group{
    width: 40%;
    position: absolute;
    right: 0;
    top: 7rem;
}
/* #testCRUD{
    font-size: 50px;
} */
/* button.btn,
input.btn {
  font-size: 20px;
} */

/* #productInput{
    border-radius: 5%;
} */


.card{    
    /* cursor: pointer;     */
    cursor: auto !important;
    transition: all 0.6s;

    /* width: 1rem;     */
}    
.card:hover{    
     transform: scale(1.06);    
}   

.page{
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: 50px;
    
}

/* 區塊隱藏類別 */

.CityNone{
    display: none;
}

.Cpage{
    cursor: pointer; 
    color:cornflowerblue ;
}



/* 區塊隱藏類別 */



a {
    text-decoration:none;
}
.QAusername{
    color:royalblue ;
}

nav{
    position: initial !important;
}

