<div class="page">
    <span>1</span>
</div>
<div class="random_recommend">
    <div class="outsidediv">
        <div>
            <span>以物易物 - 隨機推薦</span>
        </div>
        <div class="insidediv">

        </div>
        <i class="fa fa-angle-left prevbtn scrollbtn" style="font-size:48px"></i>
        <i class="fa fa-angle-right nextbtn scrollbtn" style="font-size:48px"></i>
    </div>
</div>