<footer class="bg-secondary bg-gradient text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>關於我們</h5>
                <p>
                    我們致力於創建一個友善的物品交換平台，讓你可以輕鬆找到需要的物品，同時讓你不再需要的物品有新的用途。
                </p>
            </div>
            <div class="col-md-6">
                <h5>聯絡我們</h5>
                <p>如果你有任何問題或建議，請隨時透過以下方式與我們聯絡：</p>
                <p><i class="fas fa-envelope"></i> barter_economy@gmail.com</p>
                <p><i class="fas fa-phone"></i> 123-456-7890</p>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <p class="mb-0">
            版權所有 &copy; 2023 iSpan-MFEE35-前端工程師就業養成班
        </p>
    </div>
</footer>