<div class="search_post">
    <div class="post">
        <a href="/forum/view/newpost"><label>發佈貼文</label></a>
    </div>
    <div class="search">
        <input type="text" placeholder="請輸入搜尋內容">
        <select class="search_select">
            <option value="all">全部內容</option>
            <option value="content">內文</option>
            <option value="title">標題</option>
        </select>
        <button id="search_submit">搜尋</button>
    </div>
</div>